<!DOCTYPE html>
<!-- Directiva que le indica a angular que se va a trabajar con él (Root del proyecto de angular) -->
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">

	<!-- Incluir Bootstrap (LINK PARA ESTILOS)-->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Incluir la librería de AngularJS (SCRIPT PARA LIBRERÍAS)-->
	<script src="js/lib/angular.min.js"></script>
</head>
<body>

	<div class="container">
		<h1>Evaluación</h1>
		<h4>Angular 101</h4>
		<hr>
			<p>
				Nombre completo:
				<input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre" autofocus>
			</p>
			<p>
				Lugar de trabajo:
				<input type="text" ng-model="trabajo" class="form-control" placeholder="Ingrese su lugar de trabajo">
			</p>
			<p>
				Salario en Dólares:
				<input type="text" ng-model="salario" class="form-control" placeholder="Ingrese su salario">
			</p>
			<br/>
			<p>
				Nombre: {{ nombre | uppercase }}
				<br/>
				Lugar de trabajo: {{ trabajo }}
				<br/>
				Con un salario de: {{ salario | currency }}
			</p>
		</hr>
	</div>

</body>
</html>